In [1]:
import pandas as pd
imdb_data = pd.read_csv("data.csv", sep="\t")
imdb_data.columns = [["tconst", "average point", "total vote number"]]
imdb_data["rating link"] = "https://www.imdb.com/title/"+imdb_data["tconst"]+"/ratings/?ref_=tt_ov_rt"
imdb_data.head(5)

,tconst,average point,total vote number,rating link
0,tt0000001,5.7,1911,https://www.imdb.com/title/tt0000001/ratings/?...
1,tt0000002,5.8,257,https://www.imdb.com/title/tt0000002/ratings/?...
2,tt0000003,6.5,1716,https://www.imdb.com/title/tt0000003/ratings/?...
3,tt0000004,5.6,169,https://www.imdb.com/title/tt0000004/ratings/?...
4,tt0000005,6.2,2532,https://www.imdb.com/title/tt0000005/ratings/?...

In [26]:
def get_votes(link):
    import requests
    text = requests.get(link).text
    s = text[(text.index(("<table cellpadding=\"0\">"))):]
    s = s[0:s.index("</table>")]
    info_text = s.split("\"leftAligned\">")
    votes = {}
    for i,vote in enumerate(info_text[2:]):
        votes[10-i] = vote.split("<")[0]
    return votes

In [27]:
def get_first_i_movies_votes(i):
    global imdb_data
    imdb_data["rating votes"] = None
    for i in range(i):
        votes = get_votes(imdb_data.iloc[i]["rating link"])
        imdb_data.iat[i,4] = votes

In [28]:
# neredeyse film başına 1 saniye sürüyor
num_of_movies = 10
get_first_i_movies_votes(10)
imdb_data.head(10)

,title id,average point,total vote number,rating link,rating votes
0,tt0000001,5.7,1911,https://www.imdb.com/title/tt0000001/ratings/?...,"{10: '206', 9: '40', 8: '128', 7: '258', 6: '5..."
1,tt0000002,5.8,257,https://www.imdb.com/title/tt0000002/ratings/?...,"{10: '42', 9: '11', 8: '16', 7: '45', 6: '48',..."
2,tt0000003,6.5,1716,https://www.imdb.com/title/tt0000003/ratings/?...,"{10: '173', 9: '65', 8: '199', 7: '455', 6: '3..."
3,tt0000004,5.6,169,https://www.imdb.com/title/tt0000004/ratings/?...,"{10: '28', 9: '9', 8: '8', 7: '22', 6: '29', 5..."
4,tt0000005,6.2,2532,https://www.imdb.com/title/tt0000005/ratings/?...,"{10: '219', 9: '87', 8: '235', 7: '507', 6: '6..."
5,tt0000006,5.1,173,https://www.imdb.com/title/tt0000006/ratings/?...,"{10: '17', 9: '1', 8: '13', 7: '19', 6: '35', ..."
6,tt0000007,5.4,790,https://www.imdb.com/title/tt0000007/ratings/?...,"{10: '42', 9: '13', 8: '41', 7: '89', 6: '190'..."
7,tt0000008,5.4,2054,https://www.imdb.com/title/tt0000008/ratings/?...,"{10: '238', 9: '52', 8: '144', 7: '227', 6: '3..."
8,tt0000009,5.2,199,https://www.imdb.com/title/tt0000009/ratings/?...,"{10: '18', 9: '6', 8: '10', 7: '44', 6: '40', ..."
9,tt0000010,6.9,6929,https://www.imdb.com/title/tt0000010/ratings/?...,"{10: '971', 9: '370', 8: '887', 7: '1,931', 6:..."

In [2]:
import pandas as pd
year_data = pd.read_csv('year.csv', on_bad_lines='skip', sep="\t")

/tmp/ipykernel_8259/124456785.py:2: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  year_data = pd.read_csv('year.csv', on_bad_lines='skip', sep="\t")

In [3]:
movie_data = year_data[year_data["titleType"].isin(["movie", "tvMovie"])]
movie_data_with_year = movie_data[movie_data["startYear"] > "1995"]
movie_data_with_valid_year = movie_data_with_year[movie_data_with_year["startYear"] != "\\N"]
movie_data_with_valid_year

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
11636,tt0011801,movie,Tötet nicht mehr,Tötet nicht mehr,0,2019,\N,\N,"Action,Crime"
13079,tt0013274,movie,Istoriya grazhdanskoy voyny,Istoriya grazhdanskoy voyny,0,2021,\N,133,Documentary
15174,tt0015414,movie,La tierra de los toros,La tierra de los toros,0,2000,\N,60,\N
34792,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001,\N,118,"Comedy,Fantasy,Romance"
61094,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El Tango del Viudo y Su Espejo Deformante,0,2020,\N,70,Drama
...,...,...,...,...,...,...,...,...,...
9253049,tt9916680,movie,De la ilusión al desconcierto: cine colombiano...,De la ilusión al desconcierto: cine colombiano...,0,2007,\N,100,Documentary
9253054,tt9916692,tvMovie,Teatroteka: Czlowiek bez twarzy,Teatroteka: Czlowiek bez twarzy,0,2015,\N,66,Drama
9253061,tt9916706,movie,Dankyavar Danka,Dankyavar Danka,0,2013,\N,\N,Comedy
9253072,tt9916730,movie,6 Gunn,6 Gunn,0,2017,\N,116,\N
9253082,tt9916754,movie,Chico Albuquerque - Revelações,Chico Albuquerque - Revelações,0,2013,\N,49,Documentary

In [30]:
movie_data_with_valid_year = movie_data_with_valid_year[["tconst", "startYear"]]
print(len(movie_data_with_valid_year))
movie_data_with_valid_year.head(4)

384496

          tconst startYear
11636  tt0011801      2019
13079  tt0013274      2021
15174  tt0015414      2000
34792  tt0035423      2001

In [31]:
year_vote_data = pd.merge(imdb_data, movie_data_with_valid_year, on="tconst")

ValueError: The column label 'tconst' is not unique.
For a multi-index, the label must be a tuple with elements corresponding to each level.

In [32]:
imdb_data.to_csv("imdb_data.csv", index=False)
movie_data_with_valid_year.to_csv("movie_data_with_valid_year.csv", index=False)